nav {
    background-color: hsl(0, 0%, 10%);
    height: 50px;
    padding-top: 0px;
    margin: 0pt;
}

ul.line li {
    display: inline-block;
    margin-right: 55px;
    padding: 15px;
}

a {
    text-decoration: none;
    color: white;
}

header,
h1 {
    font-family: 'Merriweather', serif;
    font-size: normal;
}

figure {
    margin: 0px;
    padding: 0px;
    height: 200px;
    background-color: hsl(0, 0%, 90%);
}

img {
    display: inline-block;
    padding-top: 0px;
    margin-top: 10px;
    margin-left: 40px;
    height: 180px;
    width: auto;
}

.contacts {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    list-style-type: none;
    line-height: 18pt;
}

.intro {
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 18pt;
}

.blocks {
    display: inline-flex;
}

.maininfo {
    margin-left: 20px;
}

h1 {
    margin-left: 40px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    background-color: hsl(0, 0%, 80%);
    height: 30px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100%;
    padding: 10px;
    padding-left: 40px;
}

.mainskills {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 18pt;
}

.softskills {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 18pt;
}

.education {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 18pt;
}

.work {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 18pt;
    list-style-type: none;
}

.foreign {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 18pt;
    padding: 0px;
    margin: 0px;
}

.extra {
    margin-left: 40px;
    margin-top: 16px;
}

footer {
    background-color: hsl(0, 0%, 10%);
    height: 250px;
    padding-top: 0px;
    margin: 0pt;
}